<header id="header">
  <div class="container">
    <h1><a href="/" class="logo">{{ site.title | upcase}}</a></h1>

    <nav>
      <a href="/about"><i class="fa fa-question"></i>About</a>
      <a href="/where?"><i class="fa fa-map-pin"></i>Where?</a>
      <a href="/blog"><i class="fa fa-pencil"></i>Blog</a>
    </nav>
  </div>
</header>