<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/assets/css/normalise.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% include meta.liquid %}
  {% include title.liquid %}
</head>

<body>
  {% include header.liquid %}

  <main id="content" class="container{% if page.width == "full" %} full-width{% endif %}">
    {{ content }}
  </main>

  {% include footer.liquid %}