<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% include meta.liquid %}
  {% include title.liquid %}
</head>

<body>
  {% include navigation.liquid %}

  <section class="container{% if page.width == "full" %} full-width{% endif %}">
    {{ content }}
  </section>

  {% include footer.liquid %}