/**
 * Page layout
 */
html,
body {
  height: 100%;
  overflow: auto;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-shrink: 0;
}

#content {
  flex-grow: 1;
}

/**
 * Page header and navigation
 */
#header {
  background: white;
  position: sticky;
  top: 0;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

#header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 20px;
}

@media (min-width: 768px) {
  #header .container {
    flex-direction: row;
  }
}

#header h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 4px;
  text-align: center;
}

@media (min-width:768px) {
  #header h1 {
    text-align: left;
  }
}

#header a:link,
#header a:visited {
  color: black;
  font-weight: 300;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

#header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

header nav a {
  font-size: 16px;
  text-transform: uppercase;
}

#header nav a>i {
  margin-right: 10px;
}

/**
 * Content
 */

#content a:link {
  color: black;
}

#content {
  flex-grow: 1;
}

#content p {
  line-height: 1.5;
}

/**
 * Blog Posts
 */
.posts {
  list-style-type: none;
  padding: 0;
}

.posts li {
  margin-bottom: 50px;
}

.post header h1 {
  font-size: 32px;
}

.post-author img {
  vertical-align: bottom;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.featured-image {
  width: 100%;
  object-fit: cover;
}

/**
 * Footer
 */
#footer {
  background-color: white;
  padding: 20px 0;
  border-top: 1px solid #eee;
}

#footer a {
  color: black;
}

#footer .container {
  display: flex;
  justify-content: space-between;
}

/**
 * Common utility classes
 */
.container {
  width: 960px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}

.full {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.hide {
  opacity: 0;
}
