/**
 * Page layout
 */
html,
body {
  height: 100%;
  overflow: auto;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-shrink: 0;
}

#content {
  flex-grow: 1;
}

/**
 * Typography
 */
body {
  color: #111;
}

a:link,
a:visited {
  color: #111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/**
 * Page header and navigation
 */
#header {
  background: white;
  top: 0;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  z-index: 10;
}

#header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 20px;
}

@media (min-width: 832px) {
  #header .container {
    flex-direction: row;
  }
}

#header h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 4px;
  text-align: center;
}

@media (min-width:832px) {
  #header h1 {
    text-align: left;
  }
}

#header a:link,
#header a:visited {
  font-weight: 300;
}

#header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
}

header nav a {
  font-size: 16px;
  text-transform: uppercase;
}

#header nav a>i {
  margin-right: 10px;
}

/**
 * Content
 */

#content {
  flex-grow: 1;
}

#content h1,
#content h2,
#content h3 {
  letter-spacing: 3px;
  font-weight: normal;
}

#content h2,
#content h3 {
  padding: 0.75em 0;
}

#content p {
  line-height: 1.375;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: .05em;
  margin-top: 0;
}

#content img {
  max-width: 100%;
}

/**
 * Blog Posts
 */
.posts {
  list-style-type: none;
  padding: 0;
}

.posts li {
  margin-bottom: 50px;
}

.posts .post h1 {
  margin: 10px 0;
}

.post h1 {
  margin: 25px 0;
}

.post a:link,
.post a:visited {
  text-decoration: underline;
}

.post h1 a:link,
.post h1 a:visited {
  text-decoration: none;
}

.posts .post {
  display: grid;
  grid-template-areas:
    'title'
    'author'
    'image'
    'content';
  gap: 20px 15px;
  grid-template-rows: auto auto 1fr;
}

@media (min-width: 832px) {
  .posts .post {
    display: grid;
    grid-template-areas:
      'title title'
      'image author'
      'image content';
    gap: 20px 15px;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

.post h1 {
  grid-area: title;
  font-size: 2em;
}

.post .featured-image {
  grid-area: image;
}

.post .authors {
  grid-area: author;
}

.post .content {
  grid-area: content;
}

.authors {
  position: relative;
}

.posts .authors {
  margin: 0;
}

.post .authors img {
  vertical-align: bottom;
  margin-bottom: -4px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.post .authors img:first-of-type {
  margin-left: 0;
}

.image {
  object-fit: cover;
}

.posts .read-more {
  display: inline-block;
  background: #333;
  color: whitesmoke;
  padding: 12px 16px;
}

/**
 * Footer
 */
#footer {
  background-color: white;
  padding: 20px 0;
  border-top: 1px solid #eee;
}

#footer a {
  color: black;
}

#footer .container {
  display: flex;
  justify-content: space-between;
}

/**
 * Common utility classes
 */
.container {
  width: 960px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}

.full {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.hide {
  opacity: 0;
}