<!-- Footer -->
<footer class="footer footer-longpage"> 
    <div class="footer-left">
        <a href="{{ site.instagram }}"><i class="fa fa-instagram fa-fw w3-hover-opacity"></i></a>
        <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-fw w3-hover-opacity"></i></a>
        <a href="{{ site.github }}"><i class="fa fa-github fa-fw w3-hover-opacity"></i></a>
    </div>
    <div class="footer-right">
        &copy {{ site.time | date: '%Y' }} {{ site.copyright_name }}
    </div>
</footer>

<!-- add in difference if page is short or long. different sty-->