---
title: Our Journey
permalink: /journey
layout: default
---
<style>
  .journey,
  .journey ul {
    list-style: none;
    padding: 0;
  }

  .journey ul {
    font-size: 0;
  }

  .journey ul li {
    display: inline-block;
  }
</style>

<ul class="journey">
  {% assign steps = site.data.journey.steps | where_exp:"step", "step.state != 'planned' and step.photos.size > 0" | reverse %}
  {% for step in steps %}
  {% assign photos = step.photos | size %}

  <li class="{{ step.state }}">
    <h2>📌 <a id="{{ step.id }}" href="#{{ step.id }}">{{ step.name }}, {{ step.country }}</a></h2>
    {% if step.arrived %}<p>{{ step.arrived | date_to_string }}</p>{% endif %}

    {% if step.description %}<p>{{ step.description | markdownify }}</p>{% endif %}

    <ul>
      {% for photo in step.photos %}
      <li>
        <a href="{{ photo.url }}">
          <img loading="lazy" src="{{ photo.url }}?tr=w-150,h-150,fo-center" height="150" width="150" title="Photo #{{ forloop.index}} from {{ step.name }}, {{ step.country }}">
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>